.card{
    display: flex;
    justify-content: center;
    gap: 90px;
}
.testimonies{
    display: flex;
    justify-content: center;
    gap: 90px;
}
.words{
    text-align: center;
}
footer{
    background-color: goldenrod;
}

@media screen and (min-width: 360px) and (max-width: 430px) {
 .hero{
text-align: center;
 }
 .card{
    flex-direction: column;
    padding: 50px;
 }
 .testimonies{
    flex-direction: column;
    padding: 80px;
 }
}











