:root {
  --primary-color: #2563EB;
  --secondary-color: #F59E0B;
  --font-family: "Inter", sans-serif;
}
.card{
    display: flex;
    justify-content: center;
    gap: 90px;
}
.card1, .card2, .card3, .testimony1, .testimony2, .testimony3{
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform: translateY(20px);
}
.card1:hover, .card2:hover, .card3:hover, .testimony1:hover, .testimony2:hover, .testimony3:hover{
    transform: translateY(-10px);
}
.testimonies{
    display: flex;
    justify-content: center;
    gap: 90px;
}
.words{
    text-align: center;
}
footer{
    background-color: goldenrod;
}

@media screen and (min-width: 360px) and (max-width: 430px) {
 .hero{
text-align: center;
 }
 .card{
    flex-direction: column;
    padding: 50px;
 }
 .testimonies{
    flex-direction: column;
    padding: 80px;
 }
}











